<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Game Create</h1>

    <hr>

    <a href="Index"><button>Archive</button></a>
    <a href="Delete"><button>Archive</button></a>
    <a href="Search"><button>Search Archive</button></a>

    <hr>
    <form method="post" action="/Game/Create">
<p>Name</p>
        <input type="text" name="Name" placeholder="string"/>
<br><br>
<p>Score</p>
        <input type="text" name="Score" placeholder="string"/>
<br><br>
<p>Genre</p>
        <input type="text" name="Genre" placeholder="string"/>
<br><br>
<p>Developer</p>
        <input type="text" name="Developer" placeholder="string"/>
<br><br>
<p>Publisher</p>
        <input type="text" name="Publisher" placeholder="string"/>
<br><br>
<p>Image</p>
        <input type="text" name="Image" placeholder="string"/>
<br><br>
        <input type="submit"/>
    </form>


</body>
</html>