<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit</title>
 <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>
    <h1>Game Edit</h1>

    <hr>

    <a href="/Game/Index"><button>Archive</button></a>

    <hr>
    <form method="post" action="/Game/Edit">
<p>ID</p>
        <input type="number" required="required" name="ID" placeholder="number"/>
<br><br>
<p>Name</p>
        <input type="text" name="Name" placeholder="string"/>
<br><br>
<p>Score</p>
        <input type="number" required="required" pattern="[0-9]{3}" min="0" max= "100" name="Score" placeholder="number"/>
<br><br>
<p>Genre</p>
        <input type="text" required="required" name="Genre" placeholder="string"/>
<br><br>
<p>Developer</p>
        <input type="text" required="required" name="Developer" placeholder="string"/>
<br><br>
<p>Publisher</p>
        <input type="text" required="required" name="Publisher" placeholder="string"/>
<br><br>
<p>Image</p>
        <input type="text" required="required" name="Image" placeholder="image url with extension"/>
<br><br>
        <input type="submit"/>
    </form>
</body>
</html>